* {
    box-sizing: border-box;
}
body {
    margin: 0;
}
.header {
    background-color: rgb(184, 130, 51);
    font-size: 2.8rem;
    text-align: center;
    padding: 24px;
}
.header h1{
    background-color: rgb(194, 177, 152);
    font-size: 2.8rem;
    font-family: Arial, Helvetica, sans-serif;
    
}
.intro {
    background-color: antiquewhite;
    font-size: 2.2rem;
    text-align: center;
}
.intro_title {
    font-size: 2.4rem;
    background-color: burlywood;
}