* {
    box-sizing: border-box;
}
body {
    margin: 0;
}
.header {
    background-color: blanchedalmond;
    font-size: 2.8rem;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
.intro {
    background-color: antiquewhite;
    padding: 24px;
    font-size: 1.1rem;
    text-align: center;
}